
/* AREA */

.area{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* PREVIEW AREA*/

#preview-area{
    width: 80%;
    height: 100vh;
    background: var(--background-color);
    background-image: linear-gradient(#00000022 .1em, transparent .1em), linear-gradient(90deg, #00000022 .1em, transparent .1em);
    background-size: 3em 3em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.portrait-img{
    background-color: #000000;
}

canvas{
    margin: 0 6px;
    box-shadow: 1px 1px 1px#000000,
                2px 2px 1px#000000,
                3px 3px 1px#000000,
                4px 4px 1px#000000,
                4px 4px 10px#000000;
}

/* EDIT AREA */

.edit-area{
    background-color: var(--background-color);
    box-shadow: -2px 2px 5px #00000066;
    z-index: 900;
    right: 0;
    height: 100vh;
    width: 20vw;
}

.edit-area__load{
    position: relative;
    height: 60vh;
    /* border: 3px dashed #00000088; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1vh;
    box-sizing: border-box;
}
.edit-img{
    position: relative;
    visibility: hidden;
    cursor: pointer;
    /* -webkit-text-stroke: 0px unset; */
    width: min(100%, 200px);
    justify-self: self-start;
}
.edit-img__btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
}

.edit-img__btn:hover{
    transform: scale(1.1);
}

#img-preview{
    width: 100%;
}

.img-uploader__btn{
    border-radius: 5px;
    background-color: var(--color-card-line);
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 1%;
    justify-self: flex-end;
    font-weight: 500;
    transition: all .2s ease-in;
}

.img-uploader__btn--img{
    width: 50px;
    filter: invert(100%);
    display: block;
    margin: 0 auto;
}

.img-uploader__btn:hover{
    box-shadow: 0 0 5px var(--color-card-line),
    0 0 10px var(--color-card-line);
}


#img-uploader{display: none;}




/* EDIT AREA SIZE  */

/* [type="radio"]:checked,
[type="radio"]:not(:checked){
    width: 0;
    height: 0;
    visibility: hidden;
} */

.edit-area__size{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 40vh;
    padding: 1vh;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
}

.option-size__label{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #00000066;
    border-radius: 5px;
    height: 5vh;
    margin: .5vh 0;
}
.label__img,.label__span,.label__radio{
    width: 33%;
}

.label__span{
    line-height: 5vh;
    text-align: center;
    font-size: 2vh;
}

.label__img{
    height: 5vh;
}

.mycontact{
    position: fixed;
    font-size: .8rem;
    bottom: 20px;
    left: 20px;
    font-weight: 600;
    opacity: 1;
}

.mycontact__link{
    color: var(--color-card-line);
}

@media (orientation: portrait) {
    .area{
        flex-direction: column;
    }
    #preview-area{
        width: 100%;
        height: 80vh;
    }

    .edit-area{
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .edit-area__load{
        width: 60vw;
        height: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    #img-preview{
        height: 100%;
        width: unset;
    }
    .edit-img{
        width: 70%;
        height: 40%;
    }
    .img-uploader__btn{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 1%;
        justify-self: flex-end;
    }
    
    .img-uploader__btn--img{
        width: 50px;
        margin: 0;
    }
    .edit-area__size{
        height: 20vh;
        width: 40%;
        padding: 0vh 1vh 0vh 0vh;
    }
    
    .contact{
        bottom: 22vh;
        right: 5vw;
    }

    .mycontact{
        position: fixed;
        font-size: .8rem;
        top: 1.5rem;
        left: unset;
        bottom: unset;
        transform: rotate(270deg);
        right: -10px;
        font-weight: 600;
        opacity: .6;
        width: min-content;
        height: min-content;
    }

}


/*
.portrait-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.portrait-select__figure{
    cursor: pointer;
}
.portrait-select__figure--active{
    animation: .4s blinking alternate infinite ease-out;
    border: 5px  solid #000000;
    border-radius: 5px;
}

@keyframes blinking{
    0%,20%{
        border-color: #00000000;
    }
    100%{
        border-color: #000000ff;
    }
} */