.nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 2px 2px 5px #00000066;
    width: 100%;
    z-index: 1000;
}
.nav__item{
    display: block;
    font-size: 2vh;
    padding: 2vh 2vh;
    cursor: pointer;
    width: 33%;
    text-align: center;
    transition: ease-in-out .3s;
    color: #000000;
}
.nav__item--active{
    background-color: var(--text-color);
    border-radius: 3px;
    color: white !important;
}

/* AREA */

.area{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1fr;
    height: 100%;
    width: 100%;
}

/* PREVIEW AREA*/

.preview-area{
    grid-column: 1/5;
    width: 100%;
    height: 100%;
    background: #ffffff;
    background-image: linear-gradient(#00000022 .1em, transparent .1em), linear-gradient(90deg, #00000022 .1em, transparent .1em);
    background-size: 3em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-img{
    background-color: #000000;
}


/* .portrait-img{
    width: 70%;
    box-shadow: 1px 1px 0px#000000,
                2px 2px 0px#000000,
                3px 3px 1px#000000,
                4px 4px 1px#000000,
                4px 4px 10px#000000;
} */


/* EDIT AREA */

.edit-area{
    grid-column: 5/6 ;
    background-color: white;
    box-shadow: -2px 2px 5px #00000066;
    z-index: 900;
    right: 0;
}

.edit-area__front{
    position: relative;
    height: 70vh;
    /* border: 3px dashed #00000088; */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
    margin:0 5%;
    box-sizing: border-box;
}
.edit-img{
    position: relative;
    visibility: hidden;
    cursor: pointer;
    /* -webkit-text-stroke: 0px unset; */
    width: min(100%, 200px);
}
.edit-img__btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
}

.edit-img__btn:hover{
    transform: scale(1.1);
}

#img-preview{
    width: 100%;
}

.img-uploader__btn{
    display: inline;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 1%;
    justify-self: flex-end;
    font-weight: 500;
    transition: all .2s ease-in;
}

.img-uploader__btn--img{
    width: 50px;
    filter: invert(100%);
    display: block;
    margin: 0 auto;
}

.img-uploader__btn:hover{
    filter: invert(80%);
}


 #img-uploader{display: none;}



/*
.portrait-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.portrait-select__figure{
    cursor: pointer;
}
.portrait-select__figure--active{
    animation: .4s blinking alternate infinite ease-out;
    border: 5px  solid #000000;
    border-radius: 5px;
}

@keyframes blinking{
    0%,20%{
        border-color: #00000000;
    }
    100%{
        border-color: #000000ff;
    }
} */