@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.main{
    width: max-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
}

.main__home{
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.box__welcome{
    width: 50%;
    padding-left: 10%;
    color: var(--text-color);
}

.box__welcome--h1{
    font-size: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-card-line);
    text-shadow: 1px 1px 5px var(--color-card-line);
    /* animation: colorchange 5s infinite alternate-reverse; */
    margin: 20px 0;
}

.box__welcome--p{
    max-width: max(500px, 70%);
    font-size: 1.5rem;
    color: #00000099;
    box-sizing: content-box;
}

.box__welcome--btn{
    position: relative;
    background-color: var(--color-card-line);
    color: var(--background-color);
    margin: 20px 0;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-sizing: content-box;
    transition: .3s ease-in-out;
    
}

.box__welcome--btn:hover{
    box-shadow: 0 0 10px var(--color-card-line),
    0 0 20px var(--color-card-line),
    0 0 40px var(--color-card-line);
}

.box__picture{
    width: 50%;
    height: fit-content;
    padding-right: 5%;
    filter: drop-shadow(2px 5px 5px #000000);
}

.main__card{
    position: relative;
    width: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

.card{
    transition: all .5s ease-in-out;
    display: flex;
    width: 45vh;
    height: min-content;
    background-color: white;
    box-shadow: 4px 4px 2px 0px #00000022;
    box-sizing: border-box;
    margin: 0 1vw;
    box-sizing: content-box;
}

.card--img{
    height: 20vh;
}

.card--p{
    font-size: 2.4vh;
    width: 30vh;
    font-weight: 500;
    color: var(--text-color);
    background-color: white;
    margin: auto .5rem;
    color: #00000099;
}

.mycontact{
    position: fixed;
    font-size: .8rem;
    bottom: 20px;
    left: 20px;
    font-weight: 600;
    opacity: .5;
}

.mycontact__link{
    color: var(--color-card-line);
}
.card:first-child{
    align-self: flex-start;
 }
 .card:last-child{
     align-self: flex-end;
  }

@media (orientation: portrait) {
    .main{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .main__home{
        margin: 10vh 0 0% 0 ;
        justify-content: space-evenly;
        flex-direction: column;
        height: 80vh;
    }

    .box__welcome{
        padding: 0;
        width: 70%;
    }

    .box__welcome--h1{
        font-size: 2rem;
    }
    .box__welcome--p{
        font-size: 1rem;
    }
    .box__welcome--btn{
        font-size: 1rem;
        width: fit-content;
    }

    .box__picture{
        padding: 0;
        width: 70%;
    }

    .main__card{
        height: 70vh;
        width: 100vw;
    }

    .card{
        margin: 0 2vw;
        width: 80vw;
    }
    .card--img{
        height: 15vh;
    }

    .mycontact{
        position: relative;
        background-color: var(--color-card-line);
        line-height: 1.4rem;
        opacity: 1;
        bottom: 0;
        left: 0;
        text-align: center;
        color: white;
    }
    .mycontact__link{
        color: var(--color-card);
    }

}
