.nav{
    position: absolute;
    padding-top: 5%;
    padding-left: 10%;
    z-index: 1000;
}

.nav__item{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: ease-in-out .4s;
}

.nav__item--active{
    background-color: var(--text-color);
    width: 200px;
    padding-left: 40px;
    border-radius: 3px;
    color: white !important;
}

/*     box-shadow: -10px -10px 15px #ffffff80,
                10px 10px 15px #2e2e2e2d,
                inset -10px -10px 15px #2e2e2e2d, 
                inset 10px 10px 15px #ffffff80 ;
    background-color: #ececec; */

@keyframes outline-change {
    0%{
        outline: solid 5px #ff0000;
        outline-offset: 0px;
    }
    15%{
        outline-color: #ffa500;
    }
    30%{
        outline-color: #ffff00;
    }
    50%{
        outline: solid 10px#32cd32;
    }
    60%{
        outline-color: #00bcd4;
    }
    80%{
        outline-color: #4b008288;
    }
    100%{
        outline: solid 5px #ee82ee;
    }
}