html{
    --text-color: #000000;
    --background-color: #eef1f9; /* eef1f9 292929*/ 
    --color-card: #01ce99;
    --color-card-line:#5650f7;
    --color-card-alt: #f7b900;
    scroll-behavior: smooth;
}

html,body{
    overflow-y: hidden;
    font-family: sans-serif;
    height:100vh;
}

::-moz-selection { color: var(--background-color);  background: var(--text-color); }
::selection      { color: var(--background-color);  background: var(--text-color); }

.non-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
}

::-webkit-scrollbar{
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
}

.contact{
    position: absolute;
    width: 4rem;
    bottom: 5%;
    right: 25%;
    z-index: 1002;
    box-sizing: content-box;
    cursor: pointer;
}

.contact__icon{
    width: 100%;
    animation: bouncing 5s ease-in-out infinite;
}

@keyframes bouncing {
    0%   { transform: scale(1,1)      translateY(0); }
    1%  { transform: scale(1.05,.95)   translateY(0); }
    3%  { transform: scale(.95,1.05)   translateY(-7px); }
    4%  { transform: scale(1.05,.95) translateY(0); }
    7%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
